/*

0-600px: Phone
600-900px: Tablet portrait
900-1200px: Tablet landscape
1200px-1800px is where our normal styles apply
1800px + : Big desktop

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop
1em = 16px

ORDER: Base + Typography > general layout + grid > page layout >components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: #eee;
  color: #777; }

.hero__heading {
  color: #fff;
  font-size: 4.3rem;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: .03em; }

.hero__subtitle {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: .09em;
  margin: 3rem 0; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

-u-margin-top-big {
  margin-bottom: 8rem !important; }

-u-margin-top-huge {
  margin-bottom: 10rem !important; }

.button {
  padding: 1.3rem 2.8rem;
  margin-left: 20px;
  display: inline-block;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: .02em;
  vertical-align: middle;
  border-radius: .2rem;
  word-break: break-word;
  max-width: 100%;
  cursor: pointer;
  user-select: none;
  text-decoration: none; }

.button-primary {
  color: #fff;
  will-change: color,background,border,box-shadow;
  background-color: #7931E1;
  transition: color 0.2s cubic-bezier(0.86, 0, 0.07, 1), background 0.2s cubic-bezier(0.86, 0, 0.07, 1), border 0.2s cubic-bezier(0.86, 0, 0.07, 1), box-shadow 0.15s cubic-bezier(0.86, 0, 0.07, 1); }
  .button-primary:hover {
    background-color: #5f25b3;
    box-shadow: 1.6rem 1.6rem 0 0 rgba(113, 91, 210, 0.1); }

.button-secondary {
  color: #7931E1;
  will-change: color,background,border,box-shadow;
  background-color: #fff;
  transition: color 0.2s cubic-bezier(0.86, 0, 0.07, 1), background 0.2s cubic-bezier(0.86, 0, 0.07, 1), border 0.2s cubic-bezier(0.86, 0, 0.07, 1), box-shadow 0.15s cubic-bezier(0.86, 0, 0.07, 1); }
  .button-secondary:hover {
    background-color: #eee;
    box-shadow: 1.6rem 1.6rem 0 0 rgba(113, 91, 210, 0.1); }

.intro-video {
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  position: absolute;
  top: 56%;
  left: 50%;
  width: 60%;
  transform: translateX(-50%); }
  @media (max-width: 75em) {
    .intro-video {
      top: 46%; } }
  @media (max-width: 61.9375em) {
    .intro-video {
      top: 58%; } }
  @media (max-width: 37.5em) {
    .intro-video {
      margin-top: 50px; } }
  .intro-video__video {
    display: block;
    background-color: #fff;
    z-index: 20;
    border-radius: .8rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 3rem 0 rgba(45, 18, 108, 0.2); }
    .intro-video__video:before {
      content: "";
      display: block;
      padding-top: 56.25%; }
    .intro-video__video:last-child {
      margin-right: 0; }
    .intro-video__video:before {
      content: "";
      display: block;
      padding-top: 56.25% !important; }
    .intro-video__video__container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline; }
      .intro-video__video__container video {
        border-radius: 5px; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 *((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 *((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 11rem;
  position: fixed;
  display: block;
  width: 100%;
  background-color: #fff;
  z-index: 70;
  top: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }
  .header__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    max-width: 120rem;
    position: relative;
    width: 100%;
    margin: 0 auto; }
  .header__logo {
    display: block;
    flex-shrink: 0;
    width: 10.621rem; }
    .header__logo img {
      width: 100%;
      height: 100%; }
  .header__nav {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline; }
  .header__list {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
    list-style: none;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline; }
    .header__list__item {
      position: relative;
      display: inline-block;
      padding: 0 .8rem;
      margin: 0;
      border: 0;
      font: inherit;
      vertical-align: baseline; }
      .header__list__item a {
        color: #282940;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: .02em;
        will-change: color;
        text-decoration: none;
        transition: color 0.15s cubic-bezier(0.86, 0, 0.07, 1); }
        .header__list__item a:hover {
          color: #36268A; }

.hero {
  background: linear-gradient(45deg, #7931E1, #36268A);
  color: #fff;
  position: relative;
  display: block;
  width: 100%;
  height: 85vh; }
  @media (max-width: 37.5em) {
    .hero {
      height: 100vh; } }
  .hero__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .hero__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 120rem; }
  .hero__content {
    z-index: 20;
    margin: 0 auto;
    text-align: center;
    padding: 6rem 0;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%); }
    @media (max-width: 37.5em) {
      .hero__content {
        transform: none;
        left: 0; } }
