.intro-video {
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  position: absolute;
  top: 56%;
  left: 50%;
  width: 60%;
  transform: translateX(-50%);


  @include respond(tab-land) {
    top: 46%;
  }

  @include respond(tablet) {
    top: 58%;
  }

  @include respond(phone) {
    margin-top: 50px;
  }

  &__video {
    display: block;
    background-color: #fff;
    z-index: 20;
    border-radius: .8rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 3rem 0 rgba(45,18,108,.2);

    &:before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }

    &:last-child {
      margin-right: 0;
    }

    &:before {
      content: "";
      display: block;
      padding-top: 56.25%!important;
    }

    &__container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;

      video {
        border-radius: 5px;
      }
    }

  }
}
