.features-list {
  margin-top: 26rem;
  position: relative;
  display: block;
  width: 100%;
  height: auto;

  &__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 120rem;
  }

  &__block {
    flex: 0 0 auto;
    width: calc(33.3% - 4rem);

    &:nth-child(1n) {
      margin-right: 6rem;
      margin-left: 0;
    }
  }

  &__image {
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto 2.8rem;

    &:before {
      content: "";
      display: block;
      padding-top: 61.11%;
    }
  }
}